.content-sections {
    min-width: 600px;
}
.ptop {
    padding-top: 25px;
}
.grid-filter{
    margin-top: 25px !important;
    background-color: #F6F3F1;
    margin: auto;
    justify-content: center;
    text-align: center;
    
    button {
        background-color: #B4061E;
        height: 58px;
        width: 160px;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}
.category-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.category-content-title .category-title {
    margin: 0;
}

.category-content-title a {
    color: #B4061E;
}

.section-content-category {
    margin-top: 20px;
}
.mv-20 {
    margin-top: 10px;
    margin-bottom: 10px;
}